@font-face {
  font-family: trellicons;
  src:
    url(https://a.trellocdn.com/dist/fonts/trellicons.5e7d79fc2634305ece3d.eot?#iefix) format("embedded-opentype"),
    url(https://a.trellocdn.com/dist/fonts/trellicons.42fc2b28bdb76a186bfd.woff) format("woff"),
    url(https://a.trellocdn.com/dist/fonts/trellicons.79432599f40e74abf5c3.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

html {
  height: 100%;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

body, #root {
  margin: 0;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  overflow-y: auto;
  height: 100%;
  background: #fff;
}

body,
button,
html,
input,
select,
textarea {
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

a {
  background-color: transparent;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
