@font-face {
  font-family: trellicons;
  src: url('https://a.trellocdn.com/dist/fonts/trellicons.bf57a510b0c02a2e1611.eot');
  src: url('https://a.trellocdn.com/dist/fonts/trellicons.bf57a510b0c02a2e1611.eot#iefix') format('embedded-opentype'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.a6d87a53cce7f4d089dd.ttf') format('truetype'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.ee39204bdadeaa6edf0a.woff') format('woff'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.6f1a7f1b268d5117df93.svg#trellicons') format('svg');
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

body, #root {
  margin: 0;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  overflow-y: auto;
  height: 100%;
  background: #fff;
}

body,
button,
html,
input,
select,
textarea {
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

a {
  background-color: transparent;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.WyeTrello-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.WyeTrello-header {
  height: 30px;
  position: relative;
  flex: none;
  background: #026aa7;
  overflow: hidden;
  padding: 5px 8px;
  z-index: 10;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.WyeTrello-header-logo {
  bottom: 0;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -75px;
  opacity: .5;
  position: absolute;
  top: 5px;
  width: 150px;
  text-align: center;
  -webkit-transition: .1s ease;
  transition: .1s ease;
  z-index: 2;
  color: #444;
  background-color: transparent;
}

.WyeTrello-header-logo:hover {
  opacity: .8;
}

.WyeTrello-header-logo-default {
  background-image: url('./wye_trello_works.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 150px 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

.WyeTrello-content {
  flex-grow: 1;
  outline: none;
  position: relative;
  overflow-y: auto;
}

.Boards {
  margin: auto;
}

.Boards-container {
  margin: 0 auto;
  max-width: 1250px;
  padding: 20px 16px 0;
}

.Boards-header {
  margin: 0 0 0 38px;
  padding: 0 0 11px;
  position: relative;
}

.Boards-header-icon {
  left: -38px;
  position: absolute;
  top: 0;
}

.Boards-header-icon-member {
  color: #999;
  height: 32px;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.Boards-header-icon-member:before {
  content: "\E938";
}

.Boards-header-name {
  display: inline-block;
  line-height: 24px;
  margin: 3px 0 0;
  font-size: 16px;
  font-weight: 700;
}

.Boards-list-container {
  display: flex;
  flex-wrap: wrap;
}

.CreateBoardTile {
  box-sizing: border-box;
  padding: 0 8px 8px 0;
  position: relative;
  width: 25%;
}

.CreateBoardTile-link {
  border-radius: 3px;
  line-height: 20px;
  margin: 0 8px 8px 0;
  padding: 8px;
  position: relative;
  background-color: #e2e4e6;
  color: #838c91;
  display: table-cell;
  height: 64px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: inherit;
}

.CreateBoardTile-link:hover {
  background-color: #d6dadc;
  color: #4d4d4d;
}

.BoardTile {
  box-sizing: border-box;
  padding: 0 8px 8px 0;
  position: relative;
  width: 25%;
}

.BoardTile-link,
.BoardTile-fade {
  border-radius: 3px;
  display: block;
}

.BoardTile-link {
  background-color: #0079bf;
  color: #fff;
  line-height: 20px;
  margin: 0 8px 8px 0;
  padding: 8px;
  position: relative;
  text-decoration: none;
}

.BoardTile-fade {
  background-color: rgba(0,0,0,.15);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.BoardTile-link:hover .BoardTile-fade {
  background-color: rgba(0,0,0,.25);
}

.BoardTile-details {
  display: block;
  min-height: 64px;
  padding-right: 40px;
  position: relative;
}

.BoardTile-details-name {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  max-height: 40px;
}

.BoardsShow {
  background-color: rgb(0, 121, 191);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.BoardsShow-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  transition: margin .1s ease-in;
}

.BoardsShow-header {
  flex: none;
  height: auto;
  overflow: hidden;
  padding: 8px 4px 8px 8px;
  position: relative;
  transition: padding .1s ease-in;
}

.BoardsShow-header-btn {
  border-radius: 3px;
  color: #f6f6f6;
  cursor: default;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 12px 0 0;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  text-decoration: none;
}

.BoardsShow-canvas {
  position: relative;
  flex-grow: 1;
}

.BoardsShow-canvas-content {
  user-select: none;
  white-space: nowrap;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  padding-right: 56px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.CreateBoard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
}


.CreateBoard-box {
  position: fixed;
  left: 50%;
  margin-top: 24px;
  padding: 24px;
  border: none;
  border-radius: 2px;
  margin: 48px -170px 80px;
  background-color: transparent;
  width: auto;
  z-index: 25;
}

.CreateBoard-tile {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 96px;
  margin: 0;
  padding: 10px 10px 10px 16px;
  position: relative;
  width: 296px;
  border-radius: 3px;
  color: #fff;
  line-height: 20px;
  text-decoration: none;
  background-color: rgb(0, 121, 191);
  z-index: 30;
}

.CreateBoard-close-button {
  float: right;
  position: relative;
  right: -2px;
  top: -2px;
  z-index: 2;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  min-height: 0;
  text-align: left;
  cursor: pointer;
}

.icon-sm {
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  width: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.icon-sm:before {
  content: "\E916";
}

.CreateBoard-tile-input {
  position: relative;
  left: -8px;
  width: calc(100% - 18px - 16px);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 0;
  outline: 0;
  padding: 2px 8px;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

.CreateBoard-tile-input::placeholder {
  color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}


.CreateBoard-tile-input:hover {
  background: hsla(0,0%,100%,.15);
  border-radius: 3px;
}

.CreateBoard-tile-btn {
  margin-bottom: 8px;
  background: #5aac44;
  -webkit-box-shadow: 0 1px 0 #519839;
  box-shadow: 0 1px 0 #519839;
  color: #fff;
  -webkit-transition: backgroun .3s ease;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 4px 0 0;
  padding: 5px 16px;
  text-align: center;


  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
}

.CreateBoard-tile-btn:hover {
  background: #519839 100%;
}

.CreateBoard-tile-btn.disabled {
  background: #f8f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b6bbbf;
  cursor: default;
  font-weight: 700;
}

.CreateBoard-tile-btn.disabled:hover {
  background: #f8f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b6bbbf;
  cursor: default;
  font-weight: 700;
}

.List {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.List:first-child {
  margin-left: 10px;
}

.List-content {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.List-header {
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
}

.List-header-title {
  font-weight: 700;
  margin: -3px -5px;
  padding: 3px 5px;
  overflow: hidden;
  word-wrap: break-word;
  height: 24px;
}

.List-cards {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}

.List-add-card {
  border-radius: 0 0 3px 3px;
  color: #838c91;
  display: block;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  user-select: none;
}

.List-add-card:hover {
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}

.List-composer {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 6px 2px 8px;
  display: block;
  transition: background 85ms ease-in,border-color 85ms ease-in;
  width: 100%;
  margin-bottom: 6px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 54px;
  outline: 0;
}

.List-composer-add {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin: 0 4px 8px 0;
  min-height: 32px;
  padding: 4px 16px;
  vertical-align: top;
  background: #5aac44;
  box-shadow: 0 1px 0 #519839;
  color: #fff;
  transition: background .3s ease;
}

.List-composer-close {
  display: inline-block;
  font-family: trellicons;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  color: #999;
}

.List-composer-close:before {
  content: "\E916";
}

.CreateList {
  width: 270px;
  margin: 0 5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;

  height: auto;
  min-height: 30px;
  padding: 4px;
  border-radius: 3px;
  background-color: #e2e4e6;
  transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;

  background: rgba(0,0,0,.12);
  cursor: pointer;
  color: #fff;

  margin-right: 10px;
}

.CreateList-placeholder {
  display: block;
  padding: 7px;
  color: hsla(0,0%,100%,.7);
  transition: color 85ms ease-in;
}

.CreateList-adding-list {
  height: auto;
  min-height: 30px;
  padding: 4px;
  border-radius: 3px;
  background-color: #e2e4e6;
}

.CreateList-input {
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 7px;
  outline: none;
  background: rgba(0,0,0,.05);
  box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
  transition: margin 85ms ease-in,background 85ms ease-in;
  width: 100%;
}

.CreateList-controls {
  transition: margin 85ms ease-in,height 85ms ease-in;
  margin: 4px 0 0;
}

.CreateList-button {
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 4px 0 0;
  padding: 4px 16px;
  border: none;
  float: left;
  height: 30px;
  transition: background .3s ease;
  box-shadow: 0 1px 0 #519839;
  color: #fff;
  background: #5aac44;
}

.CreateList-close {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: trellicons;
  height: 32px;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  color: #999;
}

.CreateList-close:before {
  content: "\E916";
}

.Card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.Card-details {
  overflow: hidden;
  padding: 6px 6px 2px 8px;
  position: relative;
  z-index: 10;
}

.Card-title {
  clear: both;
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #4d4d4d;
}
