@font-face {
  font-family: trellicons;
  src: url('https://a.trellocdn.com/dist/fonts/trellicons.bf57a510b0c02a2e1611.eot');
  src: url('https://a.trellocdn.com/dist/fonts/trellicons.bf57a510b0c02a2e1611.eot#iefix') format('embedded-opentype'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.a6d87a53cce7f4d089dd.ttf') format('truetype'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.ee39204bdadeaa6edf0a.woff') format('woff'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.6f1a7f1b268d5117df93.svg#trellicons') format('svg');
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

body, #root {
  margin: 0;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  overflow-y: auto;
  height: 100%;
  background: #fff;
}

body,
button,
html,
input,
select,
textarea {
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

a {
  background-color: transparent;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.BoardsIndex {
  margin: auto;
}

.BoardsIndex-container {
  margin: 0 auto;
  max-width: 1250px;
  padding: 20px 16px 0;
}

.BoardsIndex-header {
  margin: 0 0 0 38px;
  padding: 0 0 11px;
  position: relative;
}

.BoardsIndex-header-icon {
  left: -38px;
  position: absolute;
  top: 0;
}

.BoardsIndex-header-icon-member {
  color: #999;
  height: 32px;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.BoardsIndex-header-icon-member:before {
  content: "\E938";
}

.BoardsIndex-header-name {
  display: inline-block;
  line-height: 24px;
  margin: 3px 0 0;
  font-size: 16px;
  font-weight: 700;
}

.BoardsIndex-list-container {
  display: flex;
  flex-wrap: wrap;
}

.BoardsShow {
  background-color: rgb(0, 121, 191);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.BoardsShow-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  transition: margin .1s ease-in;
}

.BoardsShow-header {
  flex: none;
  height: auto;
  overflow: hidden;
  padding: 8px 4px 8px 8px;
  position: relative;
  transition: padding .1s ease-in;
}

.BoardsShow-header-btn {
  border-radius: 3px;
  color: #f6f6f6;
  cursor: default;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 12px 0 0;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  text-decoration: none;
}

.BoardsShow-canvas {
  position: relative;
  flex-grow: 1;
}

.BoardsShow-canvas-content {
  user-select: none;
  white-space: nowrap;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  padding-right: 56px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
