.List {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.List:first-child {
  margin-left: 10px;
}

.List-content {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.List-header {
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  min-height: 18px;
}

.List-header-title {
  font-weight: 700;
  margin: -3px -5px;
  padding: 3px 5px;
  overflow: hidden;
  word-wrap: break-word;
  height: 24px;
}

.List-cards {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
}

.List-add-card {
  border-radius: 0 0 3px 3px;
  color: #838c91;
  display: block;
  flex: 0 0 auto;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  user-select: none;
}

.List-add-card:hover {
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}

.List-composer {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 6px 2px 8px;
  display: block;
  transition: background 85ms ease-in,border-color 85ms ease-in;
  width: 100%;
  margin-bottom: 6px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 54px;
  outline: 0;
}

.List-composer-add {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin: 0 4px 8px 0;
  min-height: 32px;
  padding: 4px 16px;
  vertical-align: top;
  background: #5aac44;
  box-shadow: 0 1px 0 #519839;
  color: #fff;
  transition: background .3s ease;
}

.List-composer-close {
  display: inline-block;
  font-family: trellicons;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  color: #999;
}

.List-composer-close:before {
  content: "\E916";
}
